body{
  background-image: url(./media/pic.jpg);
  background-size: cover;
  cursor:not-allowed;
}
.App{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items:center;
  
}